<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <title>회원 관리 페이지</title>

    <style>
        html, body {

            margin: 0;
            width: 100%;
            height: 100%;

            overflow: hidden;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        div #over2{

            width: 400px;

            height: 150px;

            border: 1px solid black;

            margin-bottom:10px;

        }

    </style>
</head>
<body>
    <div class="users">
        <div id="over2" style="overflow:auto;">

            overflow1overflow2overflow3

            <br/>

            overflow1overflow2overflow3

            </br>

            overflow1overflow2overflow3

            </br>

            overflow1overflow2overflow3

            <br/>

            overflow1overflow2overflow3

            </br>

            overflow1overflow2overflow3

            </br>

            overflow1overflow2overflow3

            <br/>

            overflow1overflow2overflow3

            </br>

            overflow1overflow2overflow3

        </div>
    </div>

    <div class="userinfo">
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>

        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button">Button</button>
            <button class="btn btn-outline-secondary" type="button">Button</button>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-secondary" type="button">Button</button>
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>

</body>
<script>
    $(document).ready(function(){

            const token = Cookies.get('Authorization');
            if (token) {
                $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                    jqXHR.setRequestHeader('Authorization', token);
                });
                // JWT 토큰 디코딩하여 페이로드 추출
                // 예시 {sub: 'qw12345611', auth: 'USER', exp: 1689745728, iat: 1689742128}
                // 그중 username을 추출해야하니 sub를 가져옴. 만약 관리자 확인이면 auth를 가져올듯.
                const payload = JSON.parse(atob(token.split(".")[1]));
                const userid = payload.sub;
            }
            voteBtnDisplay();

    });
</script>
</html>