html, body {

    margin: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.user{
   margin-bottom: 10px;
}


