/**
 * Grid container
 */
#main {
	margin-top: 9em;
}
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
/**
 * Grid items
 */
#tiles li {
 	width: 280px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: none;
	cursor: pointer;
	border-radius: 0.2em;
}
#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
 	display: block;
}

/**
 * Grid item text
 */

footer {
  text-align: center;
    margin-bottom: 500px;

}

footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

.example-tiles li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}

.example-tiles a:hover {
  background-color: #ddd;
}
/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	#main {
		margin-top: 7em;
	}
}
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	#main {
		margin-top: 9.5em;
	}
}
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	#main {
		margin-top: 9em;
	}
	#tiles li {
		width: 266px;
	}
}
.model-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* 모달 창 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 어두운 투명도를 줍니다. */
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 300px; /* 원하는 크기로 수정 */
    height: 350px; /* 원하는 크기로 수정 */
    margin: 0 auto; /* 좌우 가운데 정렬을 위해 추가합니다. */
    position: absolute;
    top: 50%; /* 모달 창의 상단을 기준으로 50% 위치로 이동합니다. */
    left: 50%; /* 모달 창의 좌측을 기준으로 50% 위치로 이동합니다. */
    transform: translate(-50%, -50%); /* 좌상단을 기준으로 50%만큼 왼쪽과 위로 이동하여 세로 가운데로 정렬합니다. */
    padding: 20px;
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직 방향(column)으로 정렬 */
    align-items: center; /* 가로 정렬을 중앙으로 설정 */
}

/* 모달 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    font-size: 20px; /* 원하는 크기로 수정 */
    font-weight: bold; /* 원하는 두께로 수정 */
}

