<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#"/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>너의 선택은 로그인페이지</title>
</head>
<body>
<div class="container left-panel-active">
    <!-- Sign Up -->
    <div class="container__form container--signup">
        <div class="form" id="form1">
            <h2 class="form__title">Sign Up</h2>
            <input type="text" placeholder="아이디" name="username" id="username" class="input" />
            <input type="password" placeholder="비밀번호"  name="password" id="password" class="input" />
            <input type="email" placeholder="이메일" name="email" id="email" class="input" />
            <input type="text" placeholder="닉네임" name="nickname" id="nickname" class="input" />
            <input type="text" placeholder="자기소개" name="introduce" id="introduce" class="input" />
            <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자
            <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box input" style="display:none">
            <button class="btn" onclick="signup()">Sign Up</button>
        </div>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <div class="form" id="form2">
            <h2 class="form__title">Login</h2>
            <input type="text" placeholder="아이디" name="loginUsername" id="loginUsername" class="input" />
            <input type="password" placeholder="비밀번호" name="loginPassword" id="loginPassword" class="input" />
            <!--      <a href="#" class="link">Forgot your password?</a>-->
            <button class="btn" onclick="onLogin()" >Login</button>
        </div>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Login</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const signInBtn = document.getElementById("signIn");
    const signUpBtn = document.getElementById("signUp");
    const fistForm = document.getElementById("form1");
    const secondForm = document.getElementById("form2");
    const container = document.querySelector(".container");

    signInBtn.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
    });

    signUpBtn.addEventListener("click", () => {
        container.classList.add("right-panel-active");
    });

    fistForm.addEventListener("submit", (e) => e.preventDefault());
    secondForm.addEventListener("submit", (e) => e.preventDefault());

    function signup(){
        let username = $('#username').val();
        let password = $('#password').val();
        let email = $('#email').val();
        let nickname = $('#nickname').val();
        let introduce = $('#introduce').val();
        let adminToken = $('#admin-token').val();


        $.ajax({
            type: "POST",
            url: `/api/user/signup`,
            contentType: "application/json",
            data: JSON.stringify({username: username, password: password, email:email,
                nickname:nickname, introduce:introduce, adminToken:adminToken}),
        })
            .done(function (res, status, xhr) {
                alert("success");
                window.location.reload();
            })
            .fail(function (jqXHR, textStatus) {
                alert("signup Fail");
            });
    }

    function onLogin() {
        let loginUsername = $('#loginUsername').val();
        let loginPassword = $('#loginPassword').val();

        $.ajax({
            type: "POST",
            url: `/api/user/login`,
            contentType: "application/json",
            data: JSON.stringify({username: loginUsername, password: loginPassword}),
        })
            .done(function (res, status, xhr) {
                const token = xhr.getResponseHeader('Authorization');

                Cookies.set('Authorization', token, {path: '/'})

                $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                    jqXHR.setRequestHeader('Authorization', token);
                });
                alert(loginUsername + " login success");
                window.location.reload();
            })
            .fail(function (jqXHR, textStatus) {
                alert("Login Fail");

            });
    }

    function onclickAdmin() {
        // Get the checkbox
        var checkBox = document.getElementById("admin-check");
        // Get the output text
        var box = document.getElementById("admin-token");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true){
            box.style.display = "block";
        } else {
            box.style.display = "none";
        }
    }
</script>
</html>