<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>너의 의견은.</title>
    <link rel="shortcut icon" href="#">

    <!-- ajax , cookies 사용 lib -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <!-- ajax , cookies 사용 lib -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!--    alert 창 import-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel='stylesheet' href="/css/votestyle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!--    Button css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--    Button css-->

    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!---start-click-drop-down-menu----->
    <script src="/js/single-page/jquery.min.js"></script>
    <!----//End-dropdown--->

    <style>
        body {
            font-family: 'Jua', sans-serif;
        }

        a.list-group-item {
            height: auto;
            min-height: 220px;
        }

        a.list-group-item.active small {
            color: #fff;
        }

        a.list-group-item .vs-title {
            font-size: 110px;
        }

        .fa {
            font-size: 100px;
            color: #ffffff;
        }

        .social a {
            text-decoration: none;
        }

        .twitter {
            background-color: #00acee;
            border-radius: 4px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        .facebook-like {
            background-color: #3b5998;
            border-radius: 4px;
            margin-top: -3px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        .media {
            padding: 10px;
        }
    </style>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="header">
    <button type="button" class="btn btn-secondary" onclick="location.href='/'" style="margin: 20px;">
        Back
    </button>
    <div class="wrap">
        <div class="clear"></div>
    </div>
</div>
<!---//End-header---->
<!---start-content---->
<div class="content" style="background: url('https://images3.alphacoders.com/764/764967.png');">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-artical">
                <div class="artical-content">


                    <div class="row form-group" style="padding-left:0px;">
                        <div class="col-md-12" style="width: 95%;text-align: left;">
                            <div>
                                <label class="text-black h4">작성자</label> :
                                <label id="userinfo" class="text-black h4"></label>
                            </div>
                            <div style="float:right;">
                                <label class="text-black h4">작성일자</label> :
                                <label class="text-black h4"
                                       th:text="${#temporals.format(post.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="container bootstrap snippets bootdey" style="width: 100%;">
                            <div class="row">
                                <div class="voteBack">
                                    <div class="well" style="background-color: unset; border:0px;">
                                        <h1 class="text-center">
                                            <b><span th:text="${post.title}" style="color: #ffffff;"></span></b>
                                        </h1>
                                        <br/>
                                        <p class="txt-center" th:text="${post.content}"></p>

                                        <div class="list-group">
                                            <a href="#" class="list-group-item"
                                               style="background: rgba(0,0,0,0); border:0px;">
                                                <div class="col-md-3">
                                                    <p id="opinionPercentA" class="txt-center"></p>
                                                    <div id="progressAdiv" class="progress">
                                                        <div id="progressA"
                                                             class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                                             role="progressbar" style="width: 0%;" aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="media col-md-12">
                                                        <button type="button"
                                                                class="btn btn-default btn-lg btn-block"><span
                                                                th:text="${post.opinionA}"></span></button>
                                                        <button type="button"
                                                                class="btn btn-default btn-lg btn-block"><span
                                                                th:text="${post.opinionACnt}"></span></button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <h1 class="vs-title">VS</h1>
                                                </div>
                                                <div class="col-md-3">
                                                    <p id="opinionPercentB" class="txt-center"></p>
                                                    <div id="progressBdiv" class="progress">
                                                        <div id="progressB"
                                                             class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                                             role="progressbar" style="width: 0%;" aria-valuenow="0"
                                                             aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div class="media col-md-12">
                                                        <button type="button"
                                                                class="btn btn-default btn-lg btn-block"><span
                                                                th:text="${post.opinionB}"></span></button>
                                                        <button type="button"
                                                                class="btn btn-default btn-lg btn-block"><span
                                                                th:text="${post.opinionBCnt}"></span></button>

                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="width: 57%;">
                                        <button type="button" class="btn btn-secondary" id="editBtn"
                                                style="margin-left: 20px;float: right; margin-bottom: 10px;">수정
                                        </button>
                                        <button type="button" class="btn btn-secondary" id="deleteBtn"
                                                style="margin-left: 20px;float: right; margin-bottom: 10px;">삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <!---start-comments-section--->
                    <div class="comment-section">
                        <div class="grids_of_2">
                            <h2>Comments</h2>
                            <div class="grids_of_2" id="comment">

                            </div>
                            <div class="artical-commentbox">
                                <h2>Leave a Comment</h2>
                                <div class="table-form">
                                    <form action="#" method="post" name="post_comment">
                                        <div>
                                            <label>Name<span>*</span></label>
                                            <h4 id="loginUserName"></h4>
                                        </div>
                                        <div>
                                            <label>Your Comment<span>*</span></label>
                                            <textarea id="userComment" name="content"> </textarea>
                                        </div>
                                    </form>
                                    <button class="btn btn-secondary" type="button" onclick="insert()">댓글 작성</button>

                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <!---//End-comments-section--->
                </div>
            </div>
        </div>
        <!----start-footer--->
        <div class="footer">
            <p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<!----//End-footer--->
<!---//End-wrap---->
</body>

<script th:inline="javascript">
    // 게시글 id를 model 객체에서 가져와서 저장.
    const postId = [[${post.id}]];
    const nickname = [[${post.nickname}]];
    const username = [[${post.username}]];

    //투표시 게이지와 퍼센트 반영 시작
    const opinionA = [[${post.opinionACnt}]];
    const opinionB = [[${post.opinionBCnt}]];

    // console.log([[${post}]]);
    // 서버로 부터 데이터를 받아옴
    const opinionResult = {
        opinionA: opinionA,
        opinionB: opinionB,
    };

    // 전체 투표 수 합산
    const totalOpinion = opinionResult.opinionA + opinionResult.opinionB;

    // 퍼센트 계산 (반올림)
    const opinionPercentA = Math.round((opinionResult.opinionA / totalOpinion) * 100);
    // console.log(opinionPercentA)
    const opinionPercentB = Math.round((opinionResult.opinionB / totalOpinion) * 100);
    // console.log(opinionPercentB)

    // NaN 검사 후 표시
    $('#opinionPercentA').text(isNaN(opinionPercentA) ? "투표를 시작하세요!" : opinionPercentA + "%");
    $('#opinionPercentB').text(isNaN(opinionPercentB) ? "투표를 시작하세요!" : opinionPercentB + "%");

    // 게이지 업데이트
    // $('#progressA').css('width', opinionPercentA + "%");
    // $('#progressB').css('width', opinionPercentB + "%");
    if (isNaN(opinionPercentA)) {
        $('#progressAdiv').hide();
    } else {
        $('#progressAdiv').show();
        $('#progressA').css('width', opinionPercentA + "%");
    }

    if (isNaN(opinionPercentB)) {
        $('#progressBdiv').hide();
    } else {
        $('#progressBdiv').show();
        $('#progressB').css('width', opinionPercentB + "%");
    }
    //꿑

    // 게시글 수정 버튼 클릭 시
    $('#editBtn').click(function () {
        window.location.href = "/api/post/modify-page/" + postId;
    });

    // 게시글 삭제 버튼 클릭 시
    $('#deleteBtn').click(function () {
        const isConfirmed = confirm("정말로 삭제하시겠습니까?");
        if (isConfirmed) {
            const url = "/api/posts/" + postId;
            deletePost(url);
        }
    });

    // Reply 버튼 클릭 시
    $('#replyBtn').click(function () {
        createReply(); // 함수 만들어야 함. 어떤 댓글인지 id 값이 필요
    });

    $(document).ready(function () {
        const token = Cookies.get('Authorization');

        if (token) {
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', token);
            });
            getUser(token);
            displayBtn(token);
        } else {
            console.log('로그인이 안 되어있습니다.');
        }


        const postId = [[${post.id}]];
        const nickname = [[${post.nickname}]];
        const username = [[${post.username}]];
        const commentUrl = "/api/posts/" + postId + "/comment";
        // // console.log(commentUrl)

        //아이디 암호화 함수
        function maskingName() {
            // console.log(username)
            if (username.length >= 8) {
                return (
                    username.slice(0, 3) +
                    "*".repeat(Math.max(0, username.length - 5)) +
                    username.slice(-3)
                );
            } else {
                return (
                    username.slice(0, 2) +
                    "*".repeat(Math.max(0, username.length - 3)) +
                    username.slice(-1)
                );
            }
        }

        const maskedUsername = maskingName(username);

        $('#userinfo').html(nickname + "(" + maskedUsername + ")")

    })

    function maskingName(username) {
        if (username.length >= 8) {
            return (
                username.slice(0, 3) +
                "*".repeat(Math.max(0, username.length - 5)) +
                username.slice(-3)
            );
        } else {
            return (
                username.slice(0, 2) +
                "*".repeat(Math.max(0, username.length - 3)) +
                username.slice(-1)
            );
        }
    }

    const maskedUsername = maskingName(username);

    $('#userinfo').text(nickname + " (" + maskedUsername + ")");


    function getUser(token) {
        // console.log(token);
        const editBtn = document.getElementById('editBtn');
        const deleteBtn = document.getElementById('deleteBtn');

        const payload = JSON.parse(atob(token.split(".")[1]));
        const loginUsername = payload.sub; // 로그인한 id

        const writerUsername = [[${post.username}]];
        // console.log(writerUsername);

        $('#loginUserName').text(loginUsername)

        // 게시글 작성자일 경우
        if (loginUsername === writerUsername) {
            // 수정, 삭제 버튼 활성화
            editBtn.style.display = 'block';
            deleteBtn.style.display = 'block';
        } else {
            // 수정, 삭제 버튼 활성화
            editBtn.style.display = 'none';
            deleteBtn.style.display = 'none';
        }
    }

    // 게시글 삭제하기
    function deletePost(url) {
        const token = Cookies.get('Authorization');
        $.ajax({
            url: url,
            type: "DELETE",
            dataType: "json",
            headers: {              // Http header
                "Content-Type": "application/json",
                "Authorization": token
            },
            success: function (data) {
                Swal.fire({
                        icon: 'success',
                        title: '삭제 성공',
                        text: '게시글 삭제가 성공적으로 완료되었습니다.'
                    }
                ).then(function () {
                    window.location.href = "/";
                })
            },
            error: function (error) {
                Toast.fire({
                    icon: 'error',
                    title: '삭제 실패',
                    text: '작성자가 맞는지 확인 부탁드립니다.',
                }).then(function () {
                    window.location.reload();
                });
            }
        });
    }


    /*    function getLoginUser(token) {
            const payload = JSON.parse(atob(token.split(".")[1]));
            return payload.sub; // 로그인한 id
        }*/


    function getLoginUser(token) {
        const payload = JSON.parse(atob(token.split(".")[1]));
        return payload.sub; // 로그인한 id
    }


    const post = [[${post}]];
    console.log("post", post);

    for (var i = 0; i < post['commentResponseDtoList'].length; i++) {
        let temp_html =
            `<div class="grid1_of_2" id="${post['commentResponseDtoList'][i].id}">
                            <div class="grid_img">
                                <a href=""><img src="" alt=""></a>
                            </div>
                            <div class="grid_text">
                                <h4 class="style1 list"><a href="#">${post['commentResponseDtoList'][i].username}</a></h4>
                                <h3 class="style">${post['commentResponseDtoList'][i].modifiedAt}</h3>
                                <p class="para top"> ${post['commentResponseDtoList'][i].content}</p>
                                <a class="btn1" onclick="updateComment(${post['commentResponseDtoList'][i].id})">수정</a>
                                <a class="btn1" onclick="deleteComment(${post['commentResponseDtoList'][i].id})">삭제</a>
                            </div>
                            <div class="clear"></div>
                 </div>`;

        $('#comment').append(temp_html);
    }

    function insert() {

        $.ajax({
            type: "POST",
            url: `/api/posts/${post.id}/comment`,
            contentType: "application/json",
            data: JSON.stringify({content: $('#userComment').val()}),
        })
            .done(function (response, status, xhr) {
                console.log("resultL", response['result']);
                let temp_html =
                    `  <div class="grid1_of_2" id="${response['result'].id}" >
                            <div class="grid_img">
                                <a href=""><img src="" alt=""></a>
                            </div>
                            <div class="grid_text">
                                <h4 class="style1 list"><a href="#">${response['result'].username}</a></h4>
                                <h3 class="style">${response['result'].modifiedAt}</h3>
                                <p class="para top"> ${response['result'].content}</p>
                                <a class="btn1" onclick="updateComment(${response['result'].id})">수정</a>
                                <a class="btn1" onclick="deleteComment(${response['result'].id})">삭제</a>
                            </div>
                            <div class="clear"></div>
                        </div>`;

                $('#comment').append(temp_html);
                $('#userComment').val('');

                window.location.href = `/api/post/detail-page/${post.id}`;

            })
            .fail(function (jqXHR, textStatus) {

            });
    }

    function deleteComment(id) {

        $.ajax({
            type: "DELETE",
            url: `/api/comments/${id}`,
            contentType: "application/json",
        })
            .done(function (response, status, xhr) {
                alert("삭제완료")
                window.location.href = `/api/post/detail-page/${post.id}`;
            })
            .fail(function (jqXHR, textStatus) {
                alert("작성자가 다릅니다.")
                window.location.href = `/api/post/detail-page/${post.id}`;
            });
    }


    function updateComment(id) {

        //다시 불러오기
        $.ajax({
            type: "GET",
            url: `/api/post/detail-page/${post.id}`,
            contentType: "application/json",
        })
            .done(function (response, status, xhr ) {

                for(var i = 0; i<post['commentResponseDtoList'].length;i++){


                    if(post['commentResponseDtoList'][i].id == id){

                        //작성자 확인
                        if(`${post.username}` != `${post['commentResponseDtoList'][i].username}`){
                            alert("작성자가 아닙니다.");
                            window.location.href = `/api/post/detail-page/${post.id}`;
                        }

                        //비우기
                        const node = document.getElementById(`${id}`);
                        node.remove();

                        let temp_html =
                            `  <div class="grid1_of_2" id="${post['commentResponseDtoList'][i].id}" >
                                    <div class="grid_img">
                                        <a href=""><img src="" alt=""></a>
                                    </div>
                                    <div class="grid_text">
                                        <h4 class="style1 list"><a href="#">${post['commentResponseDtoList'][i].username}</a></h4>
                                        <h3 class="style">${post['commentResponseDtoList'][i].modifiedAt}"</h3>
                                        <p class="para top"><input id="input" value="${post['commentResponseDtoList'][i].content}"/></p>
                                        <a class="btn1" onclick="update(${post['commentResponseDtoList'][i].id}, $('#input').val())">수정</a>
                                        <a class="btn1" onclick="deleteComment(${post['commentResponseDtoList'][i].id})">삭제</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>`;

                        $('#comment').append(temp_html);
                    }

                }


            })
            .fail(function (jqXHR, textStatus) {

            });
    }

    function update(id, value) {

        $.ajax({
            type: "PUT",
            url: `/api/comments/${id}`,
            contentType: "application/json",
            data: JSON.stringify({content: value}),
        })
            .done(function (response, status, xhr) {
                alert("수정완료")
                window.location.href = `/api/post/detail-page/${post.id}`;
            })
            .fail(function (jqXHR, textStatus) {
                alert("작성자가 다릅니다.")
                window.location.href = `/api/post/detail-page/${post.id}`;
            });

    }


</script>
</html>

