<!DOCTYPE html>
<html lang="en">
<head>
    <title>게시글 작성 페이지</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="/css/postWrite/bootstrap.min.css">
    <link rel="stylesheet" href="/css/postWrite/style.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!--    Button css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <!--    Button css-->

    <!-- alert창 import-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- alert창 import-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


</head>

<style>
    * {
        font-family: 'Jua', sans-serif;
    }
</style>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<button type="button" class="btn btn-secondary" onclick="location.href='/'" style="margin: 20px;">Back</button>
<div class="site-wrap">

    <section id="contact-section">

        <div class="container">

            <div class="row">
                <div class="col" style="padding:20px;">

                    <form class="p-8 bg-white" style="padding:30px;">
                        <div class="row mb-5">
                            <div class="col-12 text-center">
                                <h2 class="site-section-heading" style="margin-top: 20px; font-family: 'Jua', sans-serif;">투표 작성</h2>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="text-black">First Option</label>
                                <input type="text" id="opinionA" placeholder="첫번째 투표" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="text-black">Last Option</label>
                                <input type="text" id="opinionB" placeholder="두번째 투표" class="form-control">
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">제목</label>
                                <input type="text" id="title" class="form-control">
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black">내용</label>
                                <textarea id="content" cols="30" rows="7" class="form-control"
                                          placeholder="Write your contents"></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-secondary" onclick="createPost()">작성 완료</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </section>

</div>

<script>
    $(document).ready(function () {
        const token = Cookies.get('Authorization');

        if (token) { // 모든 AJAX 요청에 헤더에 JWT를 포함하기 위한 설정
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', token);
            });
            // 사용자 프로필 정보를 가져옴
            getUser(token);
        } else {
            alert("로그인이 안 되어있습니다. 게시글 등록이 불가합니다.");
            window.location.href = "/";
            console.log("JWT 토큰이 없습니다. 게시글 등록이 불가합니다.");
        }
    });

    function getUser(token) {
        // JWT 토큰 디코딩하여 페이로드 추출
        const payload = JSON.parse(atob(token.split(".")[1]));
        // console.log(payload)
        // 예시 {sub: 'qw12345611', auth: 'USER', exp: 1689745728, iat: 1689742128}
        // 그중 username을 추출해야하니 sub를 가져옴. 만약 관리자 확인이면 auth를 가져올듯.
        const username = payload.sub;
        console.log(username);
        document.getElementById("username").innerText = username;
    }


    function createPost() {
        let title = $('#title').val();
        let content = $('#content').val();
        let opinionA = $('#opinionA').val();
        let opinionB = $('#opinionB').val();

        console.log("createPost() 메서드 진입");
        if (title == "") {
            console.log("title.value null");
            Swal.fire({
                icon: 'warning',
                title: '제목 입력오류',
                text: '제목이 공백입니다. 문자 입력해주세요.',
            });
            title.focus();
            return false;
        }
        if (content == "") {
            console.log("content.value null");
            Swal.fire({
                icon: 'warning',
                title: '내용 입력오류',
                text: '내용이 공백입니다. 문자 입력해주세요.',
            });
            content.focus();
            return false;
        }
        if (opinionA == "") {
            console.log("opinionA.value null");
            Swal.fire({
                icon: 'warning',
                title: '옵션1 입력오류',
                text: '옵션1이 공백입니다. 문자 입력해주세요.',
            });
            opinionA.focus();
            return false;
        }
        if (opinionB == "") {
            console.log("opinionB.value null");
            Swal.fire({
                icon: 'warning',
                title: '옵션2 입력오류',
                text: '옵션2이 공백입니다. 문자 입력해주세요.',
            });
            opinionB.focus();
            return false;
        }
        console.log("null인 필드 없음.");
        postRequest(title,content,opinionA,opinionB);
    }

    function postRequest(title,content,opinionA,opinionB) {
        const token = Cookies.get('Authorization');
        console.log(title,content,opinionA,opinionB);
        $.ajax({
            type: "POST",
            url: `/api/post`,
            dataType: 'json',
            headers: {              // Http header
                "Content-Type": "application/json",
                "X-HTTP-Method-Override": "POST",
                "Authorization": token
            },
            data: JSON.stringify({
                "title": title,
                "content": content,
                "opinionA": opinionA,
                "opinionB": opinionB
            }),
            success: (function (res, status, xhr) {
                Swal.fire({
                        icon: 'success',
                        title: '작성 성공',
                        text: '게시글 작성이 성공적으로 완료되었습니다.'
                    }
                ).then(function () {
                    window.location.href = "/";
                })
            }),
            error: (function (error) {
                console.error("게시글 작성이 실패했습니다.", error);
                Toast.fire({
                    icon: 'error',
                    title: '입력 오류',
                    text: '게시글 작성을 실패했습니다. 다시 작성 부탁드립니다.',
                }).then(function () {
                    window.location.reload();
                });
            })
        })
    }

</script>
</body>
</html>