<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <title>프로필 수정</title>
    <style>

        body {
            background-color: var(--white);
            background: url("https://images5.alphacoders.com/737/737385.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            height: 100vh;
        }

        table {
            margin: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .material-symbols-outlined {
            position: relative;
            left: 20px;
            top: 20px;
            color: white;
            transition: transform 0.3s;
            font-variation-settings: 'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48
        }

        .material-symbols-outlined:hover {
            transform: scale(1.1);
            font-variation-settings: 'FILL' 1,
            'wght' 700,
            'GRAD' 0,
            'opsz' 48
        }

        .inputbox {
            width: 30vh;
            resize: none;
            overflow: hidden;
        }
    </style>
</head>

<body>
<div>
    <a href="/api/user/login-page">
        <span class="material-symbols-outlined">
            home
        </span>
    </a>
</div>
<div class="text-center container">
    <form id="profileForm" name="infobox" style="margin-right: 5%;">
        <h1 id="profilecheck" style="color: white">&nbsp;<span class="myid"></span>님의 정보 조회입니다.</h1>
        <h1 id="profilechange" style="color: white; display: none;">&nbsp;<span class="myid"></span>님의 정보 수정입니다.</h1>
        <br>
        <table>
            <tr>
                <th class="p-3" style="color: white">닉네임</th>
                <td>
                    <input type="text" id="userName" class="inputbox form-control text-center"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </td>
            </tr>
            <tr>
                <th class="p-3" style="color: white">이메일</th>
                <td>
                    <input type="text" id="email" class="inputbox form-control text-center"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </td>
            </tr>
            <tr>
                <th class="p-3" style="color: white">비밀번호</th>
                <td>
                    <button type="button" id="passwordChange" class="btn btn-primary btn m-2">변경</button>
                </td>
            </tr>
            <tr>
                <th class="p-3" style="color: white">자기소개</th>
                <td>
                        <textarea style="color: white;" type="text" id="intro"
                                  class="inputbox form-control-lg text-center"
                                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </textarea>
                </td>
            </tr>
        </table>
    </form>
    <button type="button" id="changebtnsuccess" class="btn btn-primary btn"
            style="display: none; margin-left: 2em; margin-top: 10px;">완료
    </button>
    <button type="button" id="changebtn" class="btn btn-primary btn"
            style="margin-left: 2em; margin-top: 10px;">수정
    </button>
    <button type="button" id="cancel" class="btn btn-secondary btn"
            style="display: none; margin-left: 10px; margin-top: 10px;">취소
    </button>
</div>
</body>

<script>
    const Toast = Swal.mixin({
        toast: true,
        position: 'center-center',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    $(document).ready(function () {
        // Cookie에서 JWT를 가져옴
        const token = Cookies.get('Authorization');
        if (token) {
            // 모든 AJAX 요청에 헤더에 JWT를 포함하기 위한 설정
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', token);
            });
            // 사용자 프로필 정보를 가져옴
            getProfile(token);
        } else {
            console.log("JWT 토큰이 없습니다. 프로필 정보를 가져오지 않습니다.");
            Toast.fire({
                icon: 'error',
                title: '토큰 오류',
                text: 'JWT 토큰이 없습니다. 잠시후 로그인화면으로 되돌아갑니다.',
            }).then(function () {
                window.location.href = "/api/user/login-page"
            });
        }
    });

    $('#passwordChange').click(function () {
        window.location.href = "/api/user/profile-page/pwchange";
    });


    $('.inputbox').prop("disabled", true);

    // 프로필 정보 가져오기
    function getProfile(token) {

        // console.log(token)
        // JWT 토큰 디코딩하여 페이로드 추출
        const payload = JSON.parse(atob(token.split(".")[1]));
        // console.log(payload)

        // 예시 {sub: 'qw12345611', auth: 'USER', exp: 1689745728, iat: 1689742128}
        // 그중 username을 추출해야하니 sub를 가져옴. 만약 관리자 확인이면 auth를 가져올듯.
        const username = payload.sub;

        // console.log(username)

        $.ajax({
            url: "/api/profile",
            type: "GET",
            dataType: "json",
            success: function (data) {
                // 서버로부터 받은 데이터를 처리하는 로직을 작성합니다.
                // 예시: 프로필 정보를 표시하는 함수 호출
                // console.log(data)
                const email = data['proFileResponseDto']['email'];
                const intro = data['proFileResponseDto']['introduce'];
                const nickname = data['proFileResponseDto']['nickname']; // 실제 사용자 ID값 가져오기
                const textarea_str = intro;

                $('#userName').attr('value', nickname);
                $('#email').attr('value', email);
                $('#intro').html(textarea_str);
                $('.myid').html(username);

                // 완료 버튼 클릭 이벤트 처리
                $("#changebtnsuccess").click(function () {
                    const email2 = document.getElementById("email");
                    const intro2 = document.getElementById("intro")
                    const nickname2 = document.getElementById("userName");
                    const RegExp = /^[a-zA-Z0-9ㄱ-ㅎ|ㅏ-ㅣ|가-힣]{3,20}$/;
                    const RegExp2 = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

                    if (nickname2.value == "") {
                        Swal.fire({
                            icon: 'warning',
                            title: '닉네임 입력오류',
                            text: '닉네임이 공백입니다. 문자 입력해주세요.',
                        });
                        nickname2.focus();
                        return false;
                    }

                    if (!RegExp.test(nickname2.value)) {
                        Swal.fire({
                            icon: 'warning',
                            title: '닉네임 입력오류',
                            text: '닉네임을 3글자 이상 20글자 이하혹은 공백문자가 없게 입력해주세요.',
                        });
                        nickname2.focus();
                        return false;
                    }

                    if (email2.value == "") {
                        Swal.fire({
                            icon: 'warning',
                            title: '이메일 입력오류',
                            text: '이메일이 공백입니다. 문자 입력해주세요.',
                        });
                        email2.focus();
                        return false;
                    }

                    if (!RegExp2.test(email2.value)) {
                        Swal.fire({
                            icon: 'warning',
                            title: '이메일 입력오류',
                            text: '이메일 형식에 맞게  입력해주세요.',
                        });
                        email2.focus();
                        return false;
                    }

                    if (intro2.length <= 10 || intro2.length > 1000) {
                        Swal.fire({
                            icon: 'warning',
                            title: '자기소개 입력오류',
                            text: '자기소개를 10글자 이상 1000글자 미만으로 입력해주세요.',
                        });
                        intro2.focus();
                        return false;
                    }
                    updateProfile(username);
                });
            },
            error: function (error) {
                console.error("프로필 정보를 가져오는 데 실패했습니다.", error);
                Toast.fire({
                    icon: 'error',
                    title: '토큰 오류',
                    text: '프로필 정보를 가져오는 데 실패했습니다. 잠시후 로그인 화면으로 되돌아갑니다.',
                }).then(function () {
                    window.location.href = "/api/user/login-page"
                });
            }
        });
    }

    // 프로필 정보 업데이트하기
    function updateProfile(username) {
        const email = $('#email').val();
        const intro = $('#intro').val();
        const nickname = $('#userName').val();

        Swal.fire({
            title: '프로필을 수정하시겠습니까?',
            text: "확인을 누르시면 수정이 완료됩니다.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '확인',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/api/profile",
                    type: "PUT",
                    dataType: "json",
                    data: JSON.stringify(
                        {
                            email: email,
                            introduce: intro,
                            nickname: nickname,
                            username: username
                        }
                    ),
                    contentType: "application/json",
                    success: function (data) {
                        // 업데이트 후 서버로부터 받은 데이터를 처리하는 로직을 작성합니다.
                        // 예시: 업데이트된 프로필 정보를 표시하는 함수 호출
                        Swal.fire({
                                icon: 'success',
                                title: '수정 성공',
                                text: '프로필 정보가 성공적으로 업데이트되었습니다.'
                            }
                        ).then(function () {
                            window.location.reload();
                        })
                    },
                    error: function (error) {
                        console.error("프로필 정보를 가져오는 데 실패했습니다.", error);
                        Toast.fire({
                            icon: 'error',
                            title: '토큰 오류',
                            text: '프로필 정보를 가져오는 데 실패했습니다. 잠시후 로그인 화면으로 되돌아갑니다.',
                        }).then(function () {
                            window.location.href = "/api/user/login-page"
                        });
                    }
                });
            }
        })
    };

    // 수정 버튼 클릭 이벤트 처리
    $("#changebtn").click(function () {
        $("#cancel").show();
        $("#changebtn").hide();
        $("#changebtnsuccess").show();
        $(".inputbox").prop("disabled", false);
        $("#intro").css("color", "black");
        $('#profilecheck').hide();
        $('#profilechange').show();

        const DEFAULT_HEIGHT = 30; // textarea 기본 height

        const $textarea = document.querySelector('#intro');

        $textarea.oninput = (event) => {
            const $target = event.target;

            $target.style.height = 0;
            $target.style.height = DEFAULT_HEIGHT + $target.scrollHeight + 'px';
        };
    });

    // 취소 버튼 클릭 이벤트 처리
    $("#cancel").click(function () {
        window.location.reload();
    });


</script>

</html>