<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>너의 의견은.</title>
    <link rel="shortcut icon" href="#">

    <!-- ajax , cookies 사용 lib -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <!-- ajax , cookies 사용 lib -->

    <link rel='stylesheet' href="/css/votestyle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!--    Button css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!--    Button css-->

    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <!---start-click-drop-down-menu----->
    <script src="/js/single-page/jquery.min.js"></script>
    <!----//End-dropdown--->

    <style type="text/css">
        a.list-group-item {
            height: auto;
            min-height: 220px;
        }
        a.list-group-item.active small {
            color: #fff;
        }
        a.list-group-item .vs-title {
            font-size: 110px;
        }
        .fa {
            font-size: 100px;
            color: #ffffff;
        }
        .social a {
            text-decoration: none;
        }
        .twitter {
            background-color: #00acee;
            border-radius: 4px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
        .facebook-like {
            background-color: #3b5998;
            border-radius: 4px;
            margin-top: -3px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }
        .media {
            padding:10px;
        }
    </style>

</head>

<body>
<div class="header">
    <div class="wrap">

        <div class="logo">
            <button type="button" class="btn btn-secondary" onclick="location.href='index.html'" style="margin: 20px;">
                Back
            </button>
        </div>

<!--

        <div class="nav-icon">
            <a href="#" class="right_bt" id="activator"><span> </span> </a>
        </div>

        <div class="box" id="box">
            <div class="box_content">
                <div class="box_content_center">
                    <div class="form_content">
                        <div class="menu_box_list">
                            <ul>
                                <li><a href="#"><span>home</span></a></li>
                                <li><a href="#"><span>About</span></a></li>
                                <li><a href="#"><span>Works</span></a></li>
                                <li><a href="#"><span>Clients</span></a></li>
                                <li><a href="#"><span>Blog</span></a></li>
                                <li><a href="contact.html"><span>Contact</span></a></li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <a class="boxclose" id="boxclose"> <span> </span></a>
                    </div>
                </div>
            </div>
        </div>
-->

        <div class="clear"></div>
    </div>
</div>
<!---//End-header---->
<!---start-content---->
<div class="content" style="background: url('https://images3.alphacoders.com/764/764967.png');">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-artical">
                <div class="artical-content">


					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black h4">작성자</label> :
							<label class="text-black h4" id="username"></label>
						</div>
					</div>

					<div>
                        <div class="container bootstrap snippets bootdey">
                            <div class="row">
                                <div class="well">
                                    <h1 class="text-center text-primary">
                                        <b><span th:text="${post.title}"></span></b>
                                    </h1>
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <div class="col-md-3">
                                                <div class="media col-md-12 twitter">
                                                    <figure class="pull-left">
                                                        <i class="fa fa-twitter"></i>
                                                    </figure>
                                                </div>
                                                <div class="media col-md-12">
                                                    <button type="button" class="btn btn-default btn-lg btn-block"><span
                                                            th:text="${post.opinionA}"></span></button>
                                                    <button type="button" class="btn btn-default btn-lg btn-block"><span
                                                            th:text="${post.opinionACnt}"></span></button>

                                                </div>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <h1 class="vs-title">VS</h1>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="media col-md-12 facebook-like">
                                                    <figure class="pull-left">
                                                        <i class="fa fa-facebook"></i>
                                                    </figure>
                                                </div>
                                                <div class="media col-md-12">
                                                    <button type="button" class="btn btn-default btn-lg btn-block"><span
                                                            th:text="${post.opinionB}"></span></button>
                                                    <button type="button" class="btn btn-default btn-lg btn-block"><span
                                                            th:text="${post.opinionBCnt}"></span></button>

                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>

                    <img src="images/single-post-pic.jpg" title="banner1">

<!--                    <h3><a href="#">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a></h3>-->
					<h3 id="title"> </h3>
					<p id="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p class="para1" id="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <p class="para2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="artical-links">
                    <ul>
                        <li><a href="#"><img src="images/blog-icon2.png" title="Admin"><span>admin</span></a></li>
                        <li><a href="#"><img src="images/blog-icon3.png" title="Comments"><span>No comments</span></a>
                        </li>
                        <li><a href="#"><img src="images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
                    </ul>
                </div>
                <div class="share-artical">
                    <ul>
                        <li><a href="#"><img src="images/facebooks.png" title="facebook">Facebook</a></li>
                        <li><a href="#"><img src="images/twiter.png" title="Twitter">Twiiter</a></li>
                        <li><a href="#"><img src="images/google+.png" title="google+">Google+</a></li>
                        <li><a href="#"><img src="images/rss.png" title="rss">Rss</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!---start-comments-section--->
            <div class="comment-section">
                <div class="grids_of_2">
                    <h2>Comments</h2>
                    <div class="grid1_of_2">
                        <div class="grid_img">
                            <a href=""><img src="images/pic10.jpg" alt=""></a>
                        </div>
                        <div class="grid_text">
                            <h4 class="style1 list"><a href="#">Uku Mason</a></h4>
                            <h3 class="style">march 2, 2013 - 12.50 AM</h3>
                            <p class="para top"> All the Lorem Ipsum generators on the Internet tend to repeat
                                predefined chunks as necessary, making this the first true generator on the Internet. It
                                uses a dictionary of over 200 Latin words, combined with a handful of model sentence
                                structures, to generate Lorem Ipsum which looks reasonable.</p>
                            <a href="" class="btn1">Click to Reply</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="grid1_of_2 left">
                        <div class="grid_img">
                            <a href=""><img src="images/pic10.jpg" alt=""></a>
                        </div>
                        <div class="grid_text">
                            <h4 class="style1 list"><a href="#">Designer First</a></h4>
                            <h3 class="style">march 3, 2013 - 4.00 PM</h3>
                            <p class="para top"> All the Lorem Ipsum generators on the Internet tend to repeat
                                predefined chunks as necessary, making this the first true generator on the Internet. It
                                uses a dictionary of over 200 Latin words, combined with a handful of model sentence
                                structures, to generate Lorem Ipsum which looks reasonable.</p>
                            <a href="" class="btn1">Click to Reply</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="grid1_of_2">
                        <div class="grid_img">
                            <a href=""><img src="images/pic12.jpg" alt=""></a>
                        </div>
                        <div class="grid_text">
                            <h4 class="style1 list"><a href="#">Ro Kanth</a></h4>
                            <h3 class="style">march 2, 2013 - 12.50 AM</h3>
                            <p class="para top"> All the Lorem Ipsum generators on the Internet tend to repeat
                                predefined chunks as necessary, making this the first true generator on the Internet. It
                                uses a dictionary of over 200 Latin words, combined with a handful of model sentence
                                structures, to generate Lorem Ipsum which looks reasonable.</p>
                            <a href="" class="btn1">Click to Reply</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="artical-commentbox">
                        <h2>Leave a Comment</h2>
                        <div class="table-form">
                            <form action="#" method="post" name="post_comment">
                                <div>
                                    <label>Name<span>*</span></label>
                                    <input type="text" value=" ">
                                </div>
                                <div>
                                    <label>Email<span>*</span></label>
                                    <input type="text" value=" ">
                                </div>
                                <div>
                                    <label>Your Comment<span>*</span></label>
                                    <textarea> </textarea>
                                </div>
                            </form>
                            <input type="submit" value="submit">

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!---//End-comments-section--->
        </div>
    </div>
</div>
<!----start-footer--->
<div class="footer">
    <p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
</div>
<!----//End-footer--->
<!---//End-wrap---->
</body>

<script>
    $(document).ready(function () {
        const token = Cookies.get('Authorization');

        if (token) { // 모든 AJAX 요청에 헤더에 JWT를 포함하기 위한 설정
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('Authorization', token);
            });
            // 사용자 프로필 정보를 가져옴
            getUser(token);
        } else {
            console.log("JWT 토큰이 없습니다. 게시글 등록이 불가합니다.");
        }
    });

    function getUser(token) {
        const payload = JSON.parse(atob(token.split(".")[1]));
        const username = payload.sub;
        console.log(username);
        document.getElementById('username').innerText = username + '님';
        //document.getElementById('username').setAttribute('title',username);

        /*        $.ajax({
            url: "/api/profile",
            type: "GET",
            dataType: "json",
            success: function (data) {
                // 서버로부터 받은 데이터를 처리하는 로직을 작성합니다.
                // 예시: 프로필 정보를 표시하는 함수 호출
                console.log(data)
                let email = data['proFileResponseDto']['email'];
                let intro = data['proFileResponseDto']['introduce'];
                let nickname = data['proFileResponseDto']['nickname']; // 실제 사용자 ID값 가져오기
                let textarea_str = $('#intro').val();
                textarea_str = intro;
                $('#userName').attr('value', nickname);
                $('#email').attr('value', email);
                $('#intro').html(textarea_str);
                // 완료 버튼 클릭 이벤트 처리
                $("#changebtnsuccess").click(function () {
                    updateProfile(username);
                });
            },
            error: function (error) {
                console.error("프로필 정보를 가져오는 데 실패했습니다.", error);
            }
        });*/
    }
</script>
</html>

